@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "./nav.scss";
@import "./variables";
@import "./animations.scss";
@import "./profile";
@import "./homepage.scss";
@import "./packs.scss";
body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
    &:before{
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        //background-image: url("./wallpaper-56.jpg");
        animation: backGroundGradient 40s ease infinite;
        background: linear-gradient(to right bottom, #20000A,#470017, #AC3C5F,#470017, #20000A);
        background-size: 400% 400%;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
    }
}
.canvas {
    height: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    height: 80%;
    left: 10vw;
    padding: 0;
    position: absolute;
    top: 70px;
    //height: 2000px;
    align-items: center;
    //background-color: $thirdbackGround;
    backdrop-filter: blur(5px);
    width: 80vw;
    opacity: 1;
}

.pokemon-ico{
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    img{
        height: 100px;
    }
}
.submit{
    padding: 10px;
    border-radius: 5px;
    background-color: $thirdbackGround;
    color: white;
    margin: 10px;
    &:hover{
        border: 2px solid $mainbackGround;
    }
    &:active {
        box-shadow:inset 0px 2px 5px black;
    }
}
a {
    text-decoration: none;
    color: white;
}