.nav--con {
    margin: 0px 0px 10px;
    z-index: 1;
    padding: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    color: white;
    //border-top: 2px solid;
    background-color: #202020;
    //animation-name: gradient;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    ul {
        marker: none;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        height: 69px;
    }
    li {
        display: inline-block;
        padding: 0px;
        vertical-align: top;
        line-height: 60px;
    }
    img {
        height: 60px;
    }
}

.footer--expansion {
    display: block;
    height: 50px;
    opacity: 1;
    width: 100vw;
    background-color: #303030;
}

.footer {
    background-color: #202020;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    padding: 0px;
    //border-bottom: 2px solid;
    background-color: #202020;
    //animation-name: gradient;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    h5 {
        margin: 2px;
    }
    h4 {
        margin: 2px;
    }
}

.nav-tab {
    padding: 0px 10px 0;
    height: 67px;
    width: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#nav-home {
    border-bottom: 2px solid #e3350d;
    transition: all 0.4s ease;
    &:hover {
        background-color: #e3350d;
        font-size: large;
    }
}

#nav-profile {
    border-bottom: 2px solid #e6bc2f;
    transition: all 0.4s ease;
    &:hover {
        background-color: #e6bc2f;
        font-size: large;
    }
}
#nav-packs {
    border-bottom: 2px solid #ee6b2f;
    transition: all 0.4s ease;
    &:hover {
        background-color: #ee6b2f;
        font-size: large;
    }
}
