.pack-icon{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    text-align: left;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: $mainbackGround;
    h2{
        margin: 10px;
    }
    h3{
        margin: 10px;
    }
}
.pack-collection{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pack-page-content{
    display: flex;
    flex-direction: row;
}
.pack-open{
    border: 2px solid;
}
.drop{
    display: flex;
    flex-direction: row;
}