.profile-user {
    margin: 10px;
    border: solid 1px 505050;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    border: 2px soild;
    background-color: $mainbackGround;
    img {
        height: 200px;
        border-radius: 5px;
        width: 200px;
    }
}
.inventory {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px 505050;
    border: 2px soild;
    background-color: $mainbackGround;
}
.input{
    padding: 7px;
    border-radius: 5px;
    &:focus{
        border: 1px solid black;
    }
}
.form{
    margin: 10px;
}