$gradient-rainbow: linear-gradient(to right, red, orange, yellow, cyan, blue, purple);
$mainbackGround: #202020;
$secondbackGround: #303030;
$thirdbackGround: #404040;
$gradient1: linear-gradient(to right, red, blue);
$gradient2: linear-gradient(to right, blue, red, blue);
$gradient3: linear-gradient(to right, blue, red);
$gradient4: linear-gradient(to right, red, blue, red);